html {
    font-size: 100%;
    box-sizing: border-box;
    background-color: $veryLightGray;
}
//*wild card and before after pseudo element
*, *::before, *::after {
    box-sizing: inherit;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    font-family: $handwriting;
    font-size: 3rem;
    padding-top: 9rem;
    padding-right: 3rem;
    padding-bottom: 0rem;
    padding-left: 3rem;
    margin: 2rem 2.5rem 2.5rem 2.5rem;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;

    a:not(:last-child){
        margin-right: 1rem;
    }
}



.scroll {
    font-family: $handwriting;
    font-size: 2rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 9rem;
    padding-bottom: 6rem;
}
hr.dashed {
    border-top: 3px dashed black;
}
.aboutSection {
    //background-color: #565556;
    //background-color: rgb(41, 40, 40);
    position: relative;
}

/*figure out relative positioning*/

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    width: 10rem;
    height: 2.5rem;
    font-family: 'Sansita', sans-serif;
    background-color: rgb(41, 40, 40);
    color: $veryLightGray;
    border-radius: 5px;
}

.banner.about {
    position: absolute;
    top: 0.05rem;
    margin-left: 12rem;
    margin-right: 6rem;

  }

  .banner.work {
    top: 0.05rem;
    margin-left: 15rem;

}


body {
    margin: 0;
    padding: 0;
    font-family: $roboto;
    font-size: $font-bigger;
    color: $grayishBlue;
    line-height: 1.3;

    &.noScroll {
    overflow: hidden;
    }
}

a, a:visited, a:hover {
    text-decoration: none;
    color: $grayishBlue;
}


.chineseName {
    font-family: 'Liu Jian Mao Cao', cursive;
    color: black;
}

.englishName {
    font-family: 'Sansita', sans-serif;
    color: black;
    }

 //spacing
 .container {
     padding-left: 1.5rem;
     padding-right: 1.5rem;
 }

//flexbox style
.flex {
   display: flex;

   &-jc-sb{
      justify-content: space-between;
   }

    &-jc-c{
    justify-content: center;
   }

   &-ai-c{
    align-items: center;
}
}

//Buttons
button, .button {
    padding: 0.875rem 2.1875rem;
    background: linear-gradient(to right, $limeGreen, $brightCyan);
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    color: white !important;
    font-weight: 400;
}

//Visibility
.hide-for-mobile {
  //hide for tablet and mobile devices
    @include breakpoint-down(small){
        display: none;
    }
}


.hide-for-desktop {
    //hide for desktop viewport widths
    @include breakpoint-up(large){
        display: none;
    }
}

.christmas {
    background-color: red;
}

h2 {
    color: white;
    text-align: center;
}