.header {

    background-color:$veryLightGray;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

    &.active {
        /*make it only show when scroll*/
    box-shadow: 0 0 3px rgba(0,0,0, 0.2);
    }

    nav {
        //padding-top: 0.025rem;
        padding-bottom: 1.0625rem;
        position: relative;
        background-color: $veryLightGray;
    }

    /*nav {
       height: 5rem;
       margin-left: 2.5rem;
       margin-right: 2.5rem;
    }*/

    &.open {

        .overlay {
               display: block;
               animation: fade-in 300ms ease-in-out forwards;
           }



       .header__toggle {
           > span:first-child {
               transform: rotate(45deg);
           }

           > span:nth-child(2) {
               opacity: 0;
           }

           > span:last-child {
               transform: rotate(-45deg);
           }
       }
      }

   .overlay {
       position: fixed;
       top: 0px;
       bottom: 0px;
       left: 0px;
       right: 0px;
       //background-color: red;;
       background:linear-gradient($veryLightGray, transparent);

   }


    //mobile menu
    &__toggle {

        > span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: black;
            transition: all 300ms ease-in-out;
            transform-origin: 3px 1px;

        &:not(:last-child) {
            margin-bottom: 5px;
        }
        }
    }

    //mobile menu block
    &__menu {
        position: absolute;
        width: calc(100% - 3rem);
        left: 50%;
        transform: translateX(-50%) translateY(10%);
        background: $veryLightGray;
        border: 3px dashed black;
        padding: 1.625rem;
        border-radius: 3px;

            a {
                color: black;
                padding: 0.625rem;
                display: block;
                text-align: center;
            }
       }

    //desktop menu

       &__links {

        a {
            position: relative;
            font-size: $font-med;
            color: $gray;
            transition: color 300ms ease-in-out;

            &:not(:last-child){
                margin-right: 32px;
               }

            &::before {
               content: "";
               display: block;
               position: absolute;
               height: 5px;
               left: 0;
               right: 0;
               bottom: -30px;
               background: linear-gradient(to right, black, black);
               opacity: 0;
               transition: opacity 300ms ease-in-out;
            }
            &:hover {
                color: $darkBlue;

                &::before {
                    opacity: 1;
                }
            }
            }
       }



    //visibility
    .hide-for-mobile {
        //hide for tablet and mobile
       @include breakpoint-down(medium){
           display: none;
       }
    }

    .hide-for-desktop {
        //hide for desktop viewport widths
        @include breakpoint-up(large){
            display: none;
        }
    }


    }
