//colors
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$navy: rgba(32, 32, 95, 0.932);
$gray: rgb(105, 104, 104);
$darkGray: rgb(58, 57, 57);

//font
$font-small: 0.875rem; //14px
$font-med: 1.125rem; //18px
$font-bigger: 1.25rem;
$handwriting: 'Reenie Beanie', cursive;
$roboto: 'Roboto', sans-serif;

